.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
out/example.js
out/example.js.map
out/test/**
pnpm-lock.yaml
images/commentor-dementor-icon-friendly.png
